<div class="section" id="contact">
    <div class="cc-contact-information">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-0" data-aos="zoom-in">
                        <div class="h4 text-center title">Contact Me</div>
                        <div class="formContainer">
                            <div class="p pb-3">
                                <strong>Feel free to email me </strong>
                            </div>
                            <form action="https://formsubmit.co/saiteja.goruganthu118@gmail.com" method="POST">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-user-circle"></i>
                                    </span>
                                    <input class="form-control" type="text" name="name" placeholder="Your Name" required />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-file-text"></i>
                                    </span>
                                    <input class="form-control" type="text" name="subject" placeholder="Add a Subject Line" required />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input class="form-control" type="text" name="email" placeholder="Your E-mail Address" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required/>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" placeholder="Your Message" required></textarea>
                                </div>
                                <div class="btnContainer">
                                    <button class="btn btn-primary" type="submit">Send</button>
                                </div>
                                <input type="hidden" name="_next" value="https://saitejagoruganthu.com/#home">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>