<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2022 - 2024(Expected)</p>
            <div class="h4">Master's Degree</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Master of Science</div>
             <h4 class="category">San Jose State University - San Jose
             </h4>
             <ul>
              <li> SJSU is a public university established in 1857 and <b>ranks 16th</b> in the West Coast of USA. </li>
              <li>Currently pursuing the Computer Engineering program, specializing in Network and Software systems with a current CGPA of <b>4.0</b>.</li>
              <li>Inducted into the <b>Honor Society of Phi-Kappa-Phi</b> for my GPA at San Jose State University.</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2015 - 2019</p>
            <div class="h4">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Bachelor of Technology</div>
             <h4 class="category">Gokaraju Rangaraju Institute of Engineering and Technology - Hyderabad, India
             </h4>
             <ul>
              <li> GRIET is Jawaharlal Nehru Technological University Affiliated and <b>ranks 3rd</b> in the state of Telangana. </li>
              <li>Completed B.Tech in Electronics and Communication Engineering with <b>9.97/10 CGPA</b>.</li>
              <li>Received the <b>Gold Medal</b> for the academic excellence from my university.</li>
              <li>Part of the <b>Pragnya Event Workshop</b> where we conduct and manage various events every year .</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2013 - 2015</p>
            <div class="h4">Higher Secondary</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
             <h4 class="category">Narayana Junior College - Hyderabad, India
             </h4>
             <ul>
              <li>
                The High School was mainly focused on the basics of mathematics, physics, and chemistry.
              </li>
              <li>
                  Laid a foundation pillar for advanced mathematics used in the Engineering.
              </li>
              <li>
                  Completed my high school with<b> 98%</b>.
              </li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary">
          <div class="card-body cc-education-header">
            <p>2012 - 2013</p>
            <div class="h4">Secondary School</div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <div class="h5">Secondary School</div>
             <h4 class="category">Bhashyam High School - Hyderabad, India
             </h4>
             <ul>
              <li>Covered subjects such as Maths , English , Science, Social Science, Literature and Languages.
              </li>
             
              <li>
                  Completed my Secondary school with <b>92%</b>.
              </li>
           </ul>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>