<div class="profile-page" id="home">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">

            <!--Background Image Implementation-->
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/home_bgImage1.jpg');">
            </div>

            <div class="intro_wrapper">
              <h2 class="intro_1">Hi There!!</h2>
              <h2 class="intro_2">I am Saiteja Goruganthu.</h2>
            </div>

            <!--Type Writer Component-->
            <div class="tw-wrapper">
                <app-typewriter></app-typewriter>
            </div>

            <!--Swiper Component-->
            <app-swiper-cube></app-swiper-cube>

            <!--Rounded Buttons-->
            <div class="section">
                <div class="container">
                  <div class="button-container">
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/sai.teja.9615566"
                      target="_blank" rel="tooltip" title="Follow me on Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/saiteja_gts77/"
                      target="_blank" rel="tooltip" title="Follow me on Instagram">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon"
                      href="https://www.linkedin.com/in/saiteja-goruganthu-49576b146" target="_blank" rel="tooltip"
                      title="Follow me on Linkedin">
                      <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/saitejagoruganthu" target="_blank"
                      rel="tooltip" title="Follow me on Github">
                      <i class="fa fa-github"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon lastIcon" href="https://twitter.com/GTS377"
                      target="_blank" rel="tooltip" title="Follow me on Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>