.swiper-container 
{
    width: 330px;
    height: 330px;
    position: absolute;
    z-index: 2;
    //left: 65%;
    top: 30%;

    .myPicContainer
    {
        display: flex;
        justify-content: center;
        margin: 1em;
        margin-top: 1.5em;
        width: 18em;
        height: 13em;

        .myPic
        {
            border-radius: 20px;
        }
    }

    .btnContainer
    {
        display: flex;
        justify-content: center;
    }

    .myBtn
    {
        margin-right: 20px;
        background: brown;
        color: #fff;
        border: none;
        border-radius: 10px;
        width: 5em;
        height: 2.2em;
        transition: all .2s ease-in-out;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover
        {
            transform: scale(1.2);
        }

        &.resume
        {
            margin-right: 0px !important;
        }
    }

    .slide2_wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: inherit;
        margin: 1em;
        padding: 1em;
        margin-top: 0;
        padding-top: 0;

        .aboutIntroText1
        {
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
        }

        .aboutIntroText2
        {
            font-size: 1.25rem;
            font-style: italic;
            margin-bottom: 1em;
            text-align: start;

            .medal
            {
                width: 1em;
                height: 1em;
            }
        }

        .aboutText
        {
            font-size: 1.25rem;
            margin-bottom: 0;
        }

        .myBtn.aboutBtn
        {
            width: 5.2em;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .slide3_wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: inherit;
        margin: 1em;
        padding: 1em;
        margin-top: 0;
        padding-top: 0;

        .skillsIntroText1
        {
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
        }

        .skillsIntroText2
        {
            font-size: 1.25rem;
            font-style: italic;
            margin-bottom: 1em;
            text-align: start;
        }

        .skillsText
        {
            font-size: 1.25rem;
            margin-bottom: 0;
        }

        .myBtn.skillsBtn
        {
            width: 5.2em;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .slide4_wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: inherit;
        margin: 1em;
        padding: 1em;
        margin-top: 0;
        padding-top: 0;

        .projectsIntroText1
        {
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            margin-bottom: 1em;
        }

        .projectsIntroText2
        {
            font-size: 1.25rem;
            font-style: italic;
            margin-bottom: 1em;
            text-align: start;
        }

        .projectsText
        {
            font-size: 1.25rem;
            margin-bottom: 0;
        }

        .myBtn.projectsBtn
        {
            width: 7em;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .test
    {
        width: 20em;
        height: 20em;
    }
}

@media screen and (max-width:425px) 
{
    .swiper-container
    {
        top: 20%;
        left: 5%;
    }
}

@media screen and (min-width:426px) and (max-width:540px) 
{
    .swiper-container
    {
        //width: 50vw;
        top: 20%;
        left: 15%;
    }
}

@media screen and (min-width:541px) and (max-width:768px) 
{
    .swiper-container
    {
        //width: 50vw;
        top: 20%;
        left: 30%;
    }
}

@media screen and (min-width:769px) and (max-width:990px) 
{
    .swiper-container
    {
        //width: 50vw;
        top: 20%;
        left: 30%;
    }
}

@media screen and (min-width:991px) 
{
    .swiper-container
    {
        left: 65%;
    }
}